body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(245, 245, 220, 0.78);
  background-color: rgba(245, 245, 220, 0.805);
  text-align: center;
}
h1 {
  font-family: "cursive";
  color: white;
}
.appContainer {
  width: 700px;
  height: 50vh;
  border: 1px solid black;
  margin-top: 40px;
  background-color: black;
  border-radius: 10px;
}
#paragraph {
  color: rgba(255, 255, 255, 0.812);
  font-size: 15px;
}

.container {
  background-color: rgba(245, 245, 220, 0.96);
  width: 500px;
  margin: 20px auto;
  border-radius: 5px;
  height: 10vh;
  text-align: left;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
}

.description {
  font-size: 20px;
  font-weight: 100;
  color: #424141;
}
.title {
  color: #767676;
}
