/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-color: black;
}

.btn {
  background-color: #915f5f;
  color: rgb(0, 0, 0);
  border: 1px solid #888;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  border-color: black;
}

.delete-btn:hover {
  background-color: #211a1a;
}

.warning-box {
  background-color: #7b666b;
  border: 2px solid #b24b6f;
  padding: 40px;
  text-align: center;
  width: 400px;
  border-radius: 8px;
}

.warning-box h2 {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.warning-box p {
  font-size: 18px;
  color: #f2f2f2;
}

.proceed-btn {
  background-color: #4c001b;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.proceed-btn:hover {
  background-color: #70002b;
} */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(245, 245, 220, 0.78);
  background-color: rgba(245, 245, 220, 0.805);
  text-align: center;
}
h1 {
  font-family: "cursive";
  color: white;
}
.appContainer {
  width: 700px;
  height: 50vh;
  border: 1px solid black;
  margin-top: 40px;
  background-color: black;
  border-radius: 10px;
}
#paragraph {
  color: rgba(255, 255, 255, 0.812);
  font-size: 15px;
}

.container {
  background-color: rgba(245, 245, 220, 0.96);
  width: 500px;
  margin: 20px auto;
  border-radius: 5px;
  height: 10vh;
  text-align: left;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
}

.description {
  font-size: 20px;
  font-weight: 100;
  color: #424141;
}
.title {
  color: #767676;
} */
/* 
.card {
  border: 1px solid #cccccc46;
  padding: 16px;
  margin: 16px;
}

.appContainer {
  background-color: rgb(30, 49, 30);
  height: 350px;
  width: 700px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
.name-card {
  color: white;
  font-size: 40px;
  padding-top: 70px;
  padding-left: 20px;
}
#card-body {
  color: #bbbbbb;
  font-size: 30px;
  padding: 18px;
}
#card-footer {
  color: #8b7676;
  font-size: 20px;
  padding: 18px;
  text-decoration: none;
} */
